.taskList {
    margin: 1rem 0;
}

.todoFilter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
    color: white;
    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        li {
            margin-left: 0.5rem;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.filterActive {
    font-weight: 600;
}

.filterVerticalLine {
    height: 1.5rem;
    border-right: 1px solid #fed17f;
    cursor: default !important;
    text-decoration: none;
}

.controlButtons {
    text-align: center;
    margin-top: 2rem;
    button {
        border: none;
        border-radius: 5px;
        margin: 0 0.5rem;
        padding: 0.5rem 1rem;
        background-color: rgba(254, 93, 0,0.5);
        color: white;
        cursor: pointer;
        transition: all .3s ease-in-out;
        &:hover {
            background-color: rgba(254, 93, 0,0.9);
        }
    }
}