.container {
    display: flex;
    flex-direction: column;
    padding: 5% 25%;
    min-height: 100vh;
    height: 100%;
    background: linear-gradient(to bottom,#fcc000,#ff7200);
}
.heading {
    text-align: center;
}
.mainHeading {
    font-size: 4rem;
    font-weight: 800;
    color: white;
    letter-spacing: -2px;
    span {
        color: #1a1a1a;
    }
}
.subHeading {
    position: relative;
    font-weight: 600;
    color: #454545;
    top: -1rem;
}