.todo {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 15px;
    box-shadow: 0 2px 14px rgba(0,0,0,0.5);
    color: #3d3d3d;
    font-size: 1.2rem;
    font-weight: 500;
    opacity: 1;
    transition: opacity .3s ease-in;
    
    i {
        position: absolute;
        right: 1rem;
        color: inherit;
        cursor: pointer;
        &:hover {
            color: red;
        }
    }

    input {
        border: 0;
        border-bottom: 2px solid #4389f9;
        color: #4389f9;

    }
}

.todoCompleted {
    opacity: 0.7;
}

.todoTextCompleted {
    color: lightgray;
    text-decoration: line-through;
}

.checkbox {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    border: 3px solid #0fd001;
    border-radius: 50%;
    margin-right: 1rem;
    cursor: pointer;

    .checkboxMark {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 10px;
        height: 10px;
        background-color: #0fd001;
        border-radius: 50%;
    }
}