// Clearfix
:global(.clearfix:after) {
  content: "";
  display: table;
  clear: both
}

// Image replacement
:global(.ir) {
  text-indent: 100%;
  font: 0/0 a;
  white-space: nowrap;
  overflow: hidden
}

:global(.checkmark) {
  position: relative;
  top: 0;
  left: 0;
  height: 1.2rem;
  width: 1.2rem;
  border: 3px solid #0fd001;
  border-radius: 50%;
  &:after {
    position: absolute;
    display: block;
    content: '';
    top:50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    background-color: #0fd001;
    opacity: 0;
  }
}

:global(.custom-checkbox) {
  position: relative;  
  display: inline-block;
  input[type="checkbox"] {
    position: relative;
    opacity: 0;
    cursor: pointer;
    z-index: 999;
  }
  input[type="checkbox"]:checked + :global(.checkmark):after {
    opacity: 1;
  }
}