.taskInputLabel {
    position: relative;
    img {
        position: absolute;
        height: 1.5rem;
        top: 50%;
        right: 1rem;
        transform: translate(0,-50%);
        cursor: pointer;
    }
    input {
        width: 100%;
        background-color: transparent;
        border: 0;
        border-bottom: 3px solid white;
        padding: 1rem;
        color: white;
        font-size: 1.5rem;
        font-weight: 600;

        &::-moz-placeholder {
            color: white;
        }
        &::placeholder {
            color: white;
            opacity: 0.5;
        }
    }
}